<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/user/register" enctype="multipart/form-data">
    <tr>
        <td>内容</td>
        <td><input type="file" name="file" id="file" value=""/></td>
    </tr>
    <tr>
        <td>小说id</td>
        <td><input type="text" name="name" id="name"></td>
    </tr>
    <tr>
        <td>章节名</td>
        <td><input type="text" name="password" id="password"></td>
    </tr>
    <input type="submit" id="btn" value="注册">
</form>
</body>
</html>